<div>
    <h2>CallRequests</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="callRequest.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                       >Create new CallRequest
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'naradApp.callRequest.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>RequestId</span></th>
                    <th><span>Phoneno</span></th>
                    <th><span>Consignmentid</span></th>
                    <th><span>Response</span></th>
                    <th><span>Body</span></th>
                    <th><span>Cancelled</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="callRequest in callRequests track by callRequest.id">
                    <td><a ui-sref="callRequest.detail({id:callRequest.id})">{{callRequest.id}}</a></td>
                    <td>{{callRequest.requestId}}</td>
                    <td>{{callRequest.phoneno}}</td>
                    <td>{{callRequest.consignmentid}}</td>
                    <td>{{callRequest.response}}</td>
                    <td>{{callRequest.body}}</td>
                    <td>{{callRequest.cancelled}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="callRequest.detail({id:callRequest.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="callRequest.edit({id:callRequest.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="callRequest.delete({id:callRequest.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
