
<div>
    <h2><span>Templates</span> {{templates.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Template_id</span>
                </td>
                <td>
                    <span class="form-control-static">{{templates.template_id}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Message</span>
                </td>
                <td>
                    <span class="form-control-static">{{templates.message}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Status</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'naradApp.TemplateStatus.' + templates.status}}">{{templates.status}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Creation_time</span>
                </td>
                <td>
                    <span class="form-control-static">{{templates.creation_time | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Approval_time</span>
                </td>
                <td>
                    <span class="form-control-static">{{templates.approval_time | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Disabled_time</span>
                </td>
                <td>
                    <span class="form-control-static">{{templates.disabled_time | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Type</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'naradApp.TemplateType.' + templates.type}}">{{templates.type}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Module</span>
                </td>
                <td>
                    <span class="form-control-static">{{templates.module}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
